asgiref==3.11.0
Django==6.0.1
sqlparse==0.5.5

#-----DRF--------------------------------------------------------------------------------------------
djangorestframework==3.16.1
markdown==3.10

#-----DRF--------------------------------------------------------------------------------------------
dotenv==0.9.9

#-----VAPI SDK--------------------------------------------------------------------------------------------
vapi_server_sdk==1.9.0